@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default styling */
body {
  font-family: 'roboto';
  color: white;
  background-color: hsl(0, 0%, 10%);
}

/* Header component styling*/
header {
  background-color: hsl(0, 0%, 10%);
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  box-shadow: 1px 0px 10px black;
}

.header-content {
  padding: 2rem;
}

/* Project Tile component styling */
.projectTile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectTile {
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  height: 200px;
  box-shadow: 1px 0px 10px black;
  border-radius: 15px;
}
.projectTile-img {

}

.projectTile-title {
  font-size: 1rem;
}

.projectTile-info {
  font-size: 0.7rem;
}