@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
  --margin-xxxl: 3.75rem;
  --margin-xxxxl: 6.25rem;
  --margin-xxxxxl: 10rem;

  --colour-fontPrimary: hsl(0, 0%, 100%);
  --colour-fontSecondary: hsl(0, 0%, 80%);
  --colour-fontTertiary: hsl(0, 0%, 60%);

  --colour-background: hsl(0, 0%, 10%);
  --colour-accent: rgb(209, 108, 26);


}

/* Default styling */
body {
  font-family: 'roboto';
  color: white;
  background-color: var(--colour-background);
}

/* Header component styling*/
/*#region*/
header {
  z-index: 1;
  background-color: var(--colour-background);
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-evenly;
  position: sticky;
  top: var(--margin-xl);
  box-shadow: 1px 0px 10px black;
  border-radius: 50px; 
}

.header-content {
  text-decoration: none;
  font-weight: 400;
  padding: var(--margin-m);
  transition: all 0.25s;
  cursor: pointer;
  color: white;
}

.header-content:visited {
  color: white;
}

.header-content:is(:active, :hover, :focus) {
  color: var(--colour-accent);
  transform: scale(1.05);
  transition: all 0.25s;
}
/*#endregion*/

/* Side Header component styling */
/*#region*/
.sideHeader {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: var(--margin-xl);
  bottom: var(--margin-xl);
}

.sideHeader-content {
  background-color: white;
  border-radius: 55px;
  padding: var(--margin-xs);
  margin: var(--margin-xs);
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideHeader-img {
  padding: var(--margin-xs);
  margin: var(--margin-xs);
}

.sideHeader-VR {
  height: 20vh;
  width: 1px;
  margin-left: 35px;
}

.email {
  transition: width 1s;
  text-decoration: none;
}

.email span {
  overflow: hidden;
  color: black;
}

.email:is(:hover, :active, :focus) {
  width: 100%;
  text-decoration: none;
}
/*#endregion*/

/* Hero Section styling */
/*#region*/
.heroSection {
  margin-block: var(--margin-xxl);
  width: 80%;
  margin-inline: auto;
  position: relative;
}

.heroSection-title {
  font-size: max(8vw, var(--margin-xxl));
  line-height: 1.2;
}

.heroSection-subheading {
  font-size: max(5.5vw,var(--margin-xl));
  color: var(--colour-accent);
}

.heroSection-headerPara {
  margin-top: min(6vw, var(--margin-xxl));
  max-width: 70ch;
  color: hsl(0, 0%, 60%);
  line-height: 1.5;
}

.heroSection-CTAButton {
  text-decoration: none;
  padding: var(--margin-xl);
  font-family: inherit;
  font-size: var(--margin-xxl);
  color: var(--colour-fontSecondary);
  background-color: var(--colour-background);
  border: 5px solid var(--colour-accent);
  border-radius: 15px;
  margin-top: min(8vw,var(--margin-xxl));
  display: inline-block;
  transition: all 1s;
}

.heroSection-CTAButton:is(:hover, :active, :focus) {
  transform: scale(1.05);
  background-color: var(--colour-accent);
  transition: all 1s;
}

.heroSection-img {
  position: absolute;
  right: calc(0rem - var(--margin-xxxl));
  bottom: 0;
  border-radius: 15px;
  box-shadow: 10px 10px 10px hsl(0, 0%, 5%);
  height: 25vw;
  width: 25vw;
}

.desktopImg {
  display: block;
}

.mobileImg {
  display: none;
}
/*#endregion*/

/* Project Tile component styling */
/*#region*/
.projectTile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-block: var(--margin-xxl);
  margin-inline: var(--margin-xxxxxl);
}

.projectTile {
  cursor: pointer;
  margin-inline: auto;
  margin-block: var(--margin-s);
  padding: var(--margin-m);
  width: 300px;
  transition: all 0.25s;
}

.projectTile:is(:active, :hover, :focus) {
  color: rgb(209, 108, 26);
  transform: scale(1.05);
  transition: all 0.25s;
}

.projectTile-img {
  border-radius: 15px;
  width: 100%;
  height: 168.75px;
}

.projectTile-title {
  font-size: var(--margin-m);
  margin-block: var(--margin-xs);
}

.projectTile-info {
  font-size: var(--margin-s);
  color: var(--colour-fontTertiary);
}
/*#endregion*/

/* About Section styling */
/*#region*/
.aboutPage {
  position: relative;
  display: flex;
  margin-block: var(--margin-xxl);
  align-items: center;
  justify-content: center;
  margin-inline: var(--margin-xxxxl);
}

.aboutPage-title {
  font-size: var(--margin-xxxxl);
  margin: var(--margin-xl);
}

.aboutPage-subtitle {
  color: var(--colour-accent);
  margin-inline: var(--margin-xl);
  margin-bottom: var(--margin-xs);
}

.aboutPage-para {
  max-width: 75ch;
  line-height: 1.5;
  margin-inline: var(--margin-xl);
  margin-bottom: var(--margin-xxl);
  color: var(--colour-fontSecondary);
}

.aboutPage-img {
  margin: var(--margin-xl);
  box-shadow: 5px 0px 10px hsl(0, 0%, 3%);
  border-radius: 15px;
  height: 750px; 
  width: 375px;
}
/*#endregion*/

@media (max-width: 1200px) {
  .projectTile-container {
    margin-inline: var(--margin-xxxxl);
  }

  .aboutPage {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1024px) {
  header {
    width: 60%;
  }

  .sideHeader {
    position: fixed;
    left: 0;
    bottom: var(--margin-xl);
  }

  .heroSection {
    width: 70%;
  }

  .heroSection-img {
    position: relative;
    left: 0;
    bottom: auto;
    width: 300px;
    height: 300px;
    margin-top: var(--margin-xl);
  }

  .desktopImg {
    display: none;
  }

  .mobileImg {
    display: block;
  }

  .projectTile-container {
    margin-inline: var(--margin-xl);
  }
}

@media (max-width: 768px) {
  header {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .sideHeader-content {
    height: 35px;
    width: 35px;
  }

  .sideHeader-img  {
    padding: var(--margin-xxs);
    height: 35px;
    width: 35px;
  }

  .sideHeader-VR {
    margin-left: 25px;
  }
  
  .heroSection-img {
    width: 250px;
    height: 250px;
  }

  .aboutPage {
    margin-inline: var(--margin-xxl);
  }

  .aboutPage-title {
    font-size: max(8vw, var(--margin-xxxl));
  }

  .aboutPage-img {
    height: 500px; 
    width: 250px;
  }
}